.home{
  font-family: Helvetica Neue;
}

.headingName{
  font-size: 1.8rem;
  font-weight: 450;
  display: inline;
}

.headingDes{
  font-size: 10px;
  display: inline;
  margin-left: 12px;
}

.body{
  position: relative;
  align-items: center;
  top: 45px;
  width: fit-content;
  left: 33.15%;
  line-height: 1.5rem;
}

.bodyMain{
  margin-top: 35px;
  font-size: 15px;
  letter-spacing: .4px;
}

.bodyMainSmall{
  font-size: 10px;
  display: inline;
}

.bodyHR{
  position: relative;
  top: 150px;
  left: 6.4%;
  height: 0px;
  border-top: none;
  color: #FFFFFF;
  opacity: 25%;
}

.posts{
  font-size: 16px;
  list-style: none;
  display: inline-block;
  position: relative;
  left: -6%;
  width: 612px;
  line-height: normal;
}

.postContent{
  position: relative;
  display: flex;
  width: 83%;
}

.postItem{
  position: relative;
  margin-top: 10px;
  width: 120%;
}

.postTitle{
  position: absolute;
  text-align: left;
  left: 40%;
}

.postDate{
  position: relative;
  color: #8F8F8F;
}

.socialLinks{
  position: relative;
  top: 25px;
  font-size: 16px;
}

.linkArrow{
  position: relative;
  margin-right: 3px;
  top: 5px;
}

.socialName{
  position: relative;
  margin-right: 30px;
}