.navbar{
    position: relative;
    top: 15px;
    left: 33.15%;
    display: flex;
    width: fit-content;
}

.indexLinks li{
    margin-right: 31px
}

.indexLinks{
    font-size: 16px;
    list-style: none;
    padding: 0px;
    line-height: 42px;
    display: flex;
}

.findmeLinks{
    font-size: 16px;
    list-style: none;
    padding: 0px;
    line-height: 42px;
    display: flex;
    position: relative;
    left:46%;
}

.findmeLinks li{
    margin-right: 18px;
}