.body{
    position: relative;
    align-items: center;
    top: 90px;
    left: 32%;
    line-height: 1.25rem;
    width:39%;
}

.headingName{
    position: relative;
    font-size: 1.5rem;
    font-weight: 450;
    line-height: 35px;
}

.postDate{
    position: relative;
    top: -1.5rem;
    font-size: 14px;
    letter-spacing: .5px;
    font-style: italic;
}

.postMain{
    position: relative;
    line-height: 1.3rem;
    font-size: 14px;
    top: -16px;
}